@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pathway+Gothic+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;

}

.bg-image {
    background-image: url("../images/forest.png");
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}

.col-5 {
    width: 41.66%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;

}

.justify-between {
    justify-content: space-between;
}

nav {
    width: 100%;
    padding: 0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Fira Sans;
    background: linear-gradient(180deg, #000000 36.19%, rgba(0, 0, 0, 0) 100%);

}

.logo img {
    width: 40px;
    height: auto;
}

.nav-links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 0.95rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #FFC20A;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icons {
    display: flex;
    gap: 0.8rem;
}

.icons a {
    width: 32px;
    height: 32px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 14px;
}

.icons a:hover {
    background: #f1c40f;
    color: black;
}

.btn {
    background: #f1c40f;
    color: white;
    padding: 0.5rem 1.2rem;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: Dela Gothic One;
}

.btn:hover {
    background: #d4ac0d;
}


.hero-image {
    max-width: 45%;
}

.hero-image img {
    width: 100%;
    height: auto;
    animation: float 4s ease-in-out infinite;


}


.hero-text small {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
}

.mt-100 {
    margin-top: 100px;
}

.hero-text h1 {
    width: 604px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    color: #ffffff;
}

.hero-text h1 span {
    color: #3bd16f;
}

.hero-text p {
    width: 631px;
    height: 48px;
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    opacity: 0.9;
}

.hero-img img {
    height: 400px;
    margin-left: 70px;
    left: 0px;
    width: 100%;
    animation: float 4s ease-in-out infinite;
}

.footer {
    background: linear-gradient(180deg, #030D01 0%, rgba(3, 13, 1, 0) 100%);
}



@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0px);
    }
}